*{
    box-sizing: border-box;
    margin: 0;
    background-color: rgb(10, 10, 10);
}
h1{
    color: aquamarine; /*桌機*/
    text-align: center;
    font-size: 40px;  
}
.header{
    font-size: 60px;
    color:white;
    text-align: center;
    background-image: url(./img/00.jpg);
    text-shadow: 3px 2px rgb(0, 0, 0);
    background-size: cover;/*圖片尺寸排列:置中*/
    background-attachment: fixed;/*固定圖片作為背景  不跟著前景的進度條移動*/
    padding: 200px 0;/*區塊內距值提高  圖片便顯示更多*/
}
.header>p{
    font-size: 30px;
}
.header>h1,h2,p{
    background-color: rgba(10, 10, 10, 0.6);
}
.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: rgb(10, 10, 10);
    height: 100%;
}
.col{
    font-size: 15px;
    border: 2px solid teal;
    width: 580px;
    height: 100%;
    margin: 10px;
    text-align: center;
    box-shadow: 5px 5px 5px rgba(202, 202, 202, 0.5);
    /* background-color: rgb(46, 16, 4); */
    background-image: url(./img/card_bg.png);
    background-size:contain;
}
.col:hover{
    box-shadow: 5px 5px 5px rgba(223, 223, 223, 0.8);
}
.col>h3{
    border-left: 10px solid royalblue;
    padding-left: 5px ;
    text-align: left;
    color: aliceblue;
    background-color: rgba(10, 10, 10, 0.8);
    
}
.col>p{
    color: aliceblue;
}
#train{
    /* height:69% ; */
}

.col>img{
    width: 60%;
    margin: 15px ;
    text-align: center;
}






/* --------------------------------手機-------------------------------- */
@media(max-width:576px){
h1{
    color: plum;
}
.row{
display: flex;
flex-wrap: wrap;
}
.col{
    width: calc(80% / 3);
    height: 45%;
}
}




/* --------------------------------平板-------------------------------- */
@media(min-width:577px) and (max-width:991px){
h1{
    color: brown;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.col{
    width: calc(80% / 3);
    height: 80%;
}
}

